.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button{
  padding: 10px;
  cursor: pointer;
  color: white;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}


